<div class="row">
  <div class="col-xs-12">
    <h1>{{ student.firstName }}</h1>
  </div>
</div>
<div class="row" *ngIf="authService.isAuthenticated()">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Student <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditStudent()">Edit Student</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteStudent()">Delete Student</a></li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item">
        First name - {{ student.firstName }}
      </li>
      <li class="list-group-item">
        Middle name - {{ student.middleName }}
      </li>
      <li class="list-group-item">
        Last name - {{ student.lastName }}
      </li>
      <li class="list-group-item">
        Address - {{ student.address }}
      </li>
    </ul>
  </div>
</div>
